@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}


#main {
    width: 100%;
    height: 100vh;
}

#back {
    width: 100%;
    height: 100vh;
}

#back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#workingarea {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /*waise to lo 100% width but agar 1920px se zayada hai width to usse 1920px hi consider kar lo, this is the meaning of this line.*/
    /* background-color: grey; */
    /* border: 2px solid red; */
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:#f8f8f8;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#nav {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-top: 20px;
}

#nav img {
    height: 80px;
    mix-blend-mode: color-dodge;
}

#nleft,
#nright {
    display: flex;
    align-items: center;
    gap: 60px;
}

#nleft a,
#nright a {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 230px;
    width: 350px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    margin: 30px;
}

.container .card .content {
    text-align: center;
    transform: translateY(100px);
    padding: 20px;
    transition: 0.5s;
    opacity: 0;
}

.card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    left: 30%;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.197);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #ffffff;
    z-index: 1;
    font-family: 'Playpen Sans', cursive;
    /* -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: black; */
    font-weight: 1000;
}

.container .card .content p {
    font-size: 1em;
    color: #000000;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    background: #ffffffb9;
    color: #340176;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 15px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.35s;
}

.container .card .content a:hover {
    background: #0000006a;
    /* background: transparent; */
    color: #fff;
    letter-spacing: 1px;
}