@import url('https://fonts.googleapis.com/css2?family=Anton&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon", sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
}

#back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;   
    max-width: 1920px;   /*waise to lo 100% width but agar 1920px se zayada hai width to usse 1920px hi consider kar lo, this is the meaning of this line.*/
    /* background-color: grey; */
    /* border: 2px solid red; */
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:whitesmoke;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color:whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.18s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#nav{
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 100%;
    padding: 20px 0;
}

#nav img{
    height: 80px;
    mix-blend-mode:color-dodge;
}

#nleft, #nright {
    display: flex;
    align-items: center;
    gap: 60px;
}

#nleft a, #nright a{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#hero {
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    display: flex;
    width: 100%;
    /* height: 100px; */
    /* background-color: rgb(38, 147, 96); */
    justify-content: space-between;
}

#heroleft {
    min-width: 50%;
    /* height: 100px; */
    /* background-color: yellow; */
}
#heroleft .elem {
    position: relative;
    height: 8.8vw;
    overflow: hidden;
}

#heroleft .elem h1:nth-child(1) {
    top: 0;
}

#heroleft .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: white;
    font-size: 9vw;
}

#heroleft button {
    pointer-events: all;
    padding: .5vw 2vw;
    font-size: 1.3vw;
    margin-top: 2vw;
    font-family: "Anton";
    background: #ffffffa1;
    /* border-style: none; */
    color:#3f3f3f;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 2px 2px 5px #121212bb;
    cursor: pointer;
    transition: 0.5s;
}
#heroleft button:hover {
    color:#000;
    background: #fff;
    letter-spacing: 2px;
}
#heroright {
    width: 25%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* height: 100px; */
    /* background-color: rgb(255, 0, 242); */
    color: white;
}

#heroright p {
    font-size: 14.5px;
    text-align: center;
    padding-right: 25px;
    font-weight: 300;
    overflow: hidden;
}

#heroright p:nth-child(3) {
    margin-bottom: 100px;
}

.profile-card {
    position: relative;
    margin: 60px 0 20px 0;
    pointer-events: all;
    width: 350px;
    height: 220px;
    background: #ffffffa1;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.profile-card:hover {
    height: 350px;
    background: #46068582;
}

.imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 175px;
    height: 180px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.profile-card:hover .imgBx {
    width: 230px;
    height: 245px;   
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card .profile-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.profile-card .profile-content .profile-details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}
.profile-card:hover .profile-content .profile-details{
    transform: translateY(0px);
}
.profile-card .profile-content .profile-details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #3f3f3f;
    line-height: 1.2em;
    transition: 0.5s;
}
.profile-card:hover .profile-content .profile-details h2 {
    color: #fff;
}
.profile-card .profile-content .profile-details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.8;
}
.profile-card .profile-content .profile-details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.profile-card .profile-content .profile-details .data h3 {
    font-size: 1em;
    color: #b0b0b0;
    line-height: 1.2em;
    font-weight: 600;
}
.profile-card .profile-content .profile-details .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}
.profile-card .profile-content .profile-details .actionBtn {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}
.profile-card .profile-content .profile-details .actionBtn button {
    padding: 10px 30px;
    border-radius: 3px;
    border:none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #b34caf6f;
    color: #b0b0b0;
    cursor: pointer;
    transition: 0.5s;
}
.profile-card .profile-content .profile-details .actionBtn button:hover {
    transform: scale(1.15);
    color: #fff;
}
.profile-card .profile-content .profile-details .actionBtn button:nth-child(2) {
    border: 1;
}