@import url('https://fonts.googleapis.com/css2?family=Anton&family=Tilt+Neon&display=swap');

/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Tilt Neon", sans-serif;
}

body {
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100vh;
}
